<div>
    <div class="table table-hover" ng-show="!MyOrders || !MyOrders.length>0" align="center">Нет активных заявок</div>
    <table class="table table-hover" ng-show="MyOrders.length>0">
        <tr>
            <td>ID</td>
            <td>Тема</td>
            <td>Описание</td>
            <td>Статус</td>
            <td>Дата создания</td>
            <td>Исполнитель</td>
            <td>Дата выполнения</td>

        </tr>
        <tbody>
        <tr ng-repeat="task in MyOrders">
            <td>{{task.id}}</td>
            <td>{{task.title}}</td>
            <td width="40%" data-ng-click="open(task.id)">
                    {{renderDescription(task.description)}}
            </td>
            <td>{{task.status}}</td>
            <td>{{task.createdAt}}</td>
            <td>-</td>
            <td>{{task.completedAt}}</td>
        </tr>
        </tbody>
    </table>

    <p align="center" ng-show="MyOrders.length>0">
        <button class="btn btn-outline-success my-2 my-sm-0" data-ng-disabled="isFirstPage" ng-click="loadOrders(currentPage-1)"><</button>
        <span>{{currentPage}}</span>
        <button class="btn btn-outline-success my-2 my-sm-0" data-ng-disabled="isLastPage" ng-click="loadOrders(currentPage+1)">></button>
    </p>
</div>

<!-- Modal -->
<div id="item-modal" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                {{currentItem.title}}
            </div>
            <div class="modal-body">
                {{currentItem.description}}
            </div>
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="dismissCurrentItem">Close</button>-->
<!--            </div>-->
        </div>
    </div>
</div>