<div >
    <div class="table table-hover" ng-show="!IncomingTasks || !IncomingTasks.length>0" align="center">Нет активных заявок</div>
    <table class="table table-hover" ng-show="IncomingTasks.length>0">
        <tr>
            <td>ID</td>
            <td>Тема</td>
            <td>Описание</td>
            <td>Статус</td>
            <td>Дата создания</td>
            <td>Автор</td>
        </tr>
        <tbody>
        <tr ng-repeat="task in IncomingTasks">
            <td>{{task.id}}</td>
            <td>{{task.title}}</td>
            <td width="40%" data-ng-click="open(task.id)">
                {{renderDescription(task.description)}}
            </td>
            <td>{{task.status}}</td>
            <td>{{task.createdAt!=null ? task.createdAt : '-' }}</td>
            <td>{{task.ownerName!=null ? task.ownerName : '-' }}</td>
        </tr>
        </tbody>
    </table>

    <p align="center" ng-show="IncomingTasks.length>0">
        <button class="btn btn-outline-success my-2 my-sm-0" data-ng-disabled="isFirstPage" ng-click="loadTasks(currentPage-1)"><</button>
        <span>{{currentPage}}</span>
        <button class="btn btn-outline-success my-2 my-sm-0" data-ng-disabled="isLastPage" ng-click="loadTasks(currentPage+1)">></button>
    </p>
</div>