<!doctype html>

<html ng-app="ttsystem-front">

<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="tsm-styles.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body>
<!--Open tasks tabs-->
<div ng-controller="indexController" style="margin-top:5%;margin-left:5%;position:fixed" ng-show="Details.length>0&&isUserLoggedIn()" >
    <nav class="nav flex-column">
        <ul class="nav nav-tabs" ng-repeat="detailId in Details">
            <li class="nav-item" style="display: flex; width:100%">
                <a class="nav-link" ng-href="#!/tasks/{{detailId}}" style="width:100%">Заявка {{detailId}}</a>
                <button type="button" data-ng-click="deleteFromDetailsOpen(detailId)" id="detailsButton"><span aria-hidden="true">x</span></button>
            </li>
        </ul>
    </nav>
</div>
<!--Current task info-->
<div ng-controller="indexController" ng-show="isUserLoggedIn()&&Timepoint&&Timepoint.status=='В процессе'" id="info-panel">
    <p style="text-align: center;">{{'Заявка #'+Timepoint.taskId + ' в работе'}}</p>
    <p style="font-size: small">Чтобы взять новую заявку в работу, завершите работу над текущей</p>
    <div style="text-align: center; cursor:pointer; text-decoration-line: underline;" data-ng-click="goToDetails(Timepoint.taskId)">Перейти в заявку</div>
    <img src="warn-sign.png" alt="Warning">
</div>

<div class="container" style="margin-top:2%; margin-left: 13%">
    <div ng-controller="indexController" style="margin-bottom:5%; position:fixed; width:70%">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="collapse navbar-collapse" id="navbarToggler">
                <a class="navbar-brand" href="#">  TTSystem</a>
                <ul class="nav nav-tabs">
                    <li class="nav-item" ng-show="isAllowed('myTasks')">
                        <a class="nav-link" href="#!/tasks">Мои заявки</a>
                    </li>
                    <li class="nav-item" ng-show="isAllowed('assigned')">
                        <a class="nav-link" href="#!/assigned">Заявки к исполнению</a>
                    </li>
                    <li class="nav-item" ng-show="isAllowed('incoming')">
                        <a class="nav-link" href="#!/incoming">Распределение заявок</a>
                    </li>
                    <li class="nav-item" ng-show="isAllowed('pending')">
                        <a class="nav-link" href="#!/pending">Утверждение заявок</a>
                    </li>
                </ul>
                <div>
                    <form class="form-inline my-2 my-lg-0" id="login" ng-show="!isUserLoggedIn()" ng-submit="goToLogin()">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Войти</button>
                    </form>
                    <form class="form-inline my-2 my-lg-0" ng-submit="showModalForCreateTask()" ng-show="isUserLoggedIn()" id="createTask">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Создать заявку</button>
                    </form>
                    <div id="delimiter" ng-show="isUserLoggedIn()">|</div>
                    <form class="form-inline my-2 my-lg-0" ng-submit="logout()" ng-show="isUserLoggedIn()" id="logout">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Выйти</button>
                    </form>
                </div>

            </div>
        </nav>


    </div>
    <ng-view style="margin-top:4%; position:fixed; width:70%; overflow: scroll"></ng-view>

    <script src="index.js"></script>
    <script src="login/login.js"></script>
    <script src="welcome/welcome.js"></script>
    <script src="tasks/tasks.js"></script>
    <script src="assigned/assigned.js"></script>
    <script src="incoming/incoming.js"></script>
    <script src="pending/pending.js"></script>
    <script src="details/details.js"></script>
    <script src="records/records.js"></script>

</div>

<!--Modal for new task-->
<div id="item-modal" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-ng-click="closeModalForCreateTask()" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                Новая заявка
            </div>
            <div class="modal-body">
                <form novalidate ng-submit="createTask()">
                    <input class="form-control" maxlength="100" id="theme" type="text" placeholder="Тема" ng-model="newTask.title" required>
                    <span style="font-size: x-small; float:right">{{(newTask.title ? newTask.title.length : 0) +'/100'}}</span>
                    <p></p>
                    <textarea class="form-control" maxlength="2000" id="taskDescription" placeholder="Описание" rows="6" ng-model="newTask.description" required></textarea>
                    <span style="font-size: x-small; float:right">{{(newTask.description ? newTask.description.length : 0) +'/2000'}}</span>
                    <p></p>
                    <button class="btn btn-outline-success" id="createNewTask" type="submit">Создать</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal for executor details-->
<div id="item-modal-sm" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-ng-click="closeModalForExecutorDetails()" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                Сотрудник
            </div>
            <div class="modal-body">
                <div>
                    <span>{{renderFullUserName(ExecutorDetails)}}</span>
                    <br>
                    <span>{{ExecutorDetails.email}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Toggle full current user info-->
<div id="rightNav" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" ng-show="isUserLoggedIn()">
    <img src="person-icon.png" alt="Person">
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Текущий пользователь</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" ng-show="CurrentUser!=null">
        <br>
        <p><b>{{renderFullUserName(CurrentUser)}}</b></p>
        <p>{{CurrentUser.email}}</p>
        <p>{{CurrentUser.phone}}</p>
        <hr>
        <table style="width:100%;">
            <tr>
                <td>Место работы</td>
                <td>{{CurrentUser.company}}</td>
            </tr>
            <tr>
                <td>Корпоративная почта</td>
                <td>{{CurrentUser.companyEmail}}</td>
            </tr>
            <tr>
                <td>Должность</td>
                <td>{{CurrentUser.workPosition}}</td>
            </tr>
            <tr>
                <td>Офис</td>
                <td>{{CurrentUser.office}}</td>
            </tr>
            <tr>
                <td>Помещение</td>
                <td>{{CurrentUser.building}}</td>
            </tr>
        </table>
        <hr>
        <br>
        <p>{{'Роли в системе: '+ renderRoles()}}</p>
        <br>
        <form novalidate ng-submit="updateWorktime()" ng-show="isUserLoggedIn()&&isAllowed('records')">
            <table style="width: 100%">
                <tr>
                    <td style="width:40%">
                        <label for="workdayFrom">Рабочий день с:</label>
                    </td>
                    <td>
                        <input type="time" class="form-control" id="workdayFrom" placeholder="" value="{{CurrentUser.startWorkTime}}" ng-model="workday.startWorkTime">
                    </td>
                    <td style="width:8%; padding-left: 1%">
                        <label for="workdayTo">по:</label>
                    </td>
                    <td>
                        <input type="time" class="form-control" id="workdayTo" placeholder="" value="{{CurrentUser.endWorkTime}}" ng-model="workday.endWorkTime">
                    </td>
                </tr>
            </table>
            <div style="margin-top: 3%; margin-bottom: 15%; float: right;">
                <button style="font-size: x-small" class="btn btn-outline-success my-2 my-sm-0" type="submit">Сохранить</button>
            </div>
        </form>
        <br><br>
        <form style="text-align: center" class="form-inline my-2 my-lg-0" ng-submit="goToRecords()" ng-show="isUserLoggedIn()&&isAllowed('records')" id="records">
            <button style="width: 100%" class="btn btn-outline-success my-2 my-sm-0" data-bs-dismiss="offcanvas" type="submit">Статистика выполнения работ по заявкам</button>
        </form>
    </div>
    <div class="offcanvas-body" ng-show="CurrentUser==null" style="text-align: center">
        Нет информации о текущем пользователе
    </div>
</div>

</body>
</html>