h4, hr {
  color: #198754;
}

ng-view {
  margin-top:5%;
  position:fixed;
  width:70%;
  overflow: scroll;
  height: 90%;
}

ng-view::-webkit-scrollbar {
  display: none;
}

#createTask button {
  background-color: #d3f3de;
  width: 150px;
}

.login-form {
  border-radius: 25px;
  border-color: #198754;
  border-style: solid;
  border-width: thin;

  padding: 2%;
  width: 30%;
  height: 200px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.login-form .form-group {
  margin-bottom: 5%;
}

.login-form button {
  background-color: #198754;
  border-color: #198754;
}

.login-form button:hover {
  background-color: #146c43;
  border-color: #146c43;
}

#detailsButton {
  border: none;
  background: none;
  color: #198754;
}

#detailsButton:hover {
  color: #146c43;
}

.form-control:focus {
    color: #0c432a;
    background-color: #fff;
    border-color: #146c43;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(140 195 169 / 25%);
}

.form-control-details:focus {
    background-color: #e9ecef!important;
}

#navbarToggler > div {
    margin-left: auto;
    display: inherit;
}

#navbarToggler form {
    margin: 2%;
}

.navbar {
    padding-left: 2%;
    padding-right: 2%;
}

nav a{
  color: #198754 !important;
}

nav a:hover{
  color: #2a3a32 !important;
}

.modal {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}

.modal .close {
  border-color: #198754;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
}

.modal .close:hover, #createTask button:hover {
  background-color: #146c43;
  border-color: #146c43;
  color: white;
}

#details td {
  width: 50%;
}

#details label {
  align-self: center;
  width: 30%;
}

#details .form-group {
  width: 100%;
}

#details .col-md-6, .col-md-4 {
  width: 60%;
}

.comment {
  border-radius: 5px;
  border-color: #198754;
  border-style: solid;
  border-width: thin;
  min-height:50px;
  width:100%;
  padding: 2%;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #d3f3de;
}

#commentSend, #createNewTask {
  float: right;
  margin-top: 5px;
}

.commentInput {
  overflow: visible;
}

#delimiter {
  color: #198754;
  font-size: x-large;
  margin: 0 5px 0 5px;
}

#executors td {
  padding-left: calc(var(--bs-gutter-x) * .5);
}

#assigned:checked {
  accent-color: #d3f3de;
}

#chief:checked {
  accent-color: #198754;
}

#chief {
  float: right;
}

#rightNav {
  position: fixed;
  background-color: #e4f7eb;
  width: 50px;
  height: 100%;
  right: 0;
  margin-top:-2%;
  cursor: pointer;
}

#rightNav img {
  width: 30px;
  margin-left: 20%;
  margin-top: 20%;
}

#info-panel {
  right: 80px;
  margin-top: 5%;
  width: 10%;
  position: fixed;
  border-radius: 15px;
  border-color: #198754;
  border-style: solid;
  border-width: thin;
  padding: 15px;
  color: #198754;
}

#info-panel img {
  width: 50px;
  margin-left: 35%;
}

select {
  border-radius: 5px;
  height: 35px;
  border-color: lightgray;
}

select:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;!important;
}

.custom-button-bar form {
  margin-left:1%;
}