h4, hr {
  color: #198754;
}

.login-form {
  border-radius: 25px;
  border-color: #198754;
  border-style: solid;
  border-width: thin;

  padding: 2%;
  width: 30%;
  height: 30%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.login-form .form-group {
  margin-bottom: 5%;
}

.login-form button {
  background-color: #198754;
  border-color: #198754;
}

.login-form button:hover {
  background-color: #146c43;
  border-color: #146c43;
}

#detailsButton {
  border: none;
  background: none;
  color: #198754;
}

#detailsButton:hover {
  color: #146c43;
}

.form-control:focus {
    color: #0c432a;
    background-color: #fff;
    border-color: #146c43;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(140 195 169 / 25%);
}

#navbarToggler > div {
    margin-left: auto;
    display: inherit;
}

#navbarToggler form {
    margin: 2%;
}

.navbar {
    padding-left: 2%;
    padding-right: 2%;
}

nav a{
  color: #198754 !important;
}

nav a:hover{
  color: #2a3a32 !important;
}

.modal {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}

.modal .close {
  border-color: #198754;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
}

.modal .close:hover {
  background-color: #146c43;
  border-color: #146c43;
  color: white;
}

#details td {
  width: 50%;
}

#details label {
  align-self: center;
  width: 30%;
}

#details .form-group {
  width: 100%;
}

#details .col-md-6, .col-md-4 {
  width: 60%;
}